/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-font: 'IBM Plex mono', monospace;
  --bg-color: #000028;
  --main-text-color: #F1B2CE;
  --nav-color: #FF0070;
  --section-heading-color: #FF0070;
  --main-heading-color: #000028;
  --shadow-color:#FF0070;
  --theme-menu-button-hover-color: #FF007066;
  --logo-color: #DB00FF;
  --background-image: url(../images/cover-image-dark.png);
  --accent-color: #FF0070;
  --section-bg-color: #FF8DCB;
}